.container {
    border-radius: 8px;
    border: solid 2px white;
    margin: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

.name {
    border-radius: 8px 8px 0px 0px;
    background: #002B36;
    height: 40px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.title {
    margin-top: -15px;
    padding-top: 10px;
    padding-left: 15px;
}

.line {
    border: solid 1px gray;
    border-radius: 10px;
    width: 90%;
    align-self: center;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 12px;
}